<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../include/headscript'); -%>
</head>
<body>
    <!-- begin app -->
    <div class="app">
        <!-- begin app-wrap -->
        <div class="app-wrap">
            <!-- begin pre-loader -->
            <div class="loader">
                <div class="h-100 d-flex justify-content-center">
                    <div class="align-self-center">
                        <img src="assets/img/loader/loader.svg" alt="loader">
                    </div>
                </div>
            </div>
            <!-- end pre-loader -->
            <%- include('../include/header'); -%>
            <!-- begin app-container -->
            <div class="app-container">
                <%- include('../include/aside'); -%>
                <!-- end app-navbar -->
                <!-- begin app-main -->
                <div class="app-main" id="main">
                    <!-- begin container-fluid -->
                    <div class="container-fluid">
                        <!-- begin row -->
                        <div class="row">
                            <div class="col-md-12 m-b-30">
                                <!-- begin page title -->
                                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                                    <div class="page-title mb-2 mb-sm-0">
                                        <h1><%=title %></h1>
                                    </div>
                                    
                                </div>
                                <!-- end page title -->
                            </div>
                        </div>
                        <!-- end row -->
                        <!-- begin row -->
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card card-statistics">
                                    <div class="card-body">
                                        <form method="GET" action= "batchlisting?" novalidate>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Search by Course Name</label>
                                                <input type="text" class="form-control" name="courseName" placeholder="Enter Course Name" value="<%=searchedparam %>">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Search</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <!-- end row -->
                        <!-- begin row -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card card-statistics">
                                    <div class="card-body">
                                        <div class="datatable-wrapper table-responsive">
                                            <table id="datatable" class="display compact table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>courseName</th>
                                                        <th>trainerName</th>
                                                        <th>trainerEmail</th>
                                                        <th>trainerPhone</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <%
                                                    if(batchesData.length!=0){
                                                    var i=1;
                                                    batchesData.forEach(function(data){
                                                    %>
                                                    <tr>
                                                        <td><%=data.courseName %></td>
                                                        <td><%=data.trainerName %></td>
                                                        <td><%=data.trainerEmail %></td>
                                                        <td><%=data.trainerPhone %></td>
                                                        <td>
                                                            <a href="/batchlisting/<%=data.id %>" class="btn btn-xs btn-danger">Delete</a>
                                                            <a href="/studentslisting?id=<%=data.id %>" class="btn btn-xs btn-success">View Students</a>
                                                            <a href="/studentsadd?id=<%=data.id %>" class="btn btn-xs btn-success">Add Students</a>
                                                        </td>  
                                                                
                                                    </tr>
                                                    <%  i++; }) %>
                                                    <% } else{ %>
                                                        <tr>
                                                            <td colspan="5">No Data Found</td>
                                                        </tr>
                                                    <% } %>
                                                   
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th>courseName</th>
                                                        <th>trainerName</th>
                                                        <th>trainerEmail</th>
                                                        <th>trainerPhone</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end container-fluid -->
                </div>
                <!-- end app-main -->
            </div>
            <!-- end app-container -->
            <!-- begin footer -->
            <footer class="footer">
                <div class="row">
                    <div class="col-12 col-sm-6 text-center text-sm-left">
                        <p>&copy; Copyright 2019. All rights reserved.</p>
                    </div>
                    <div class="col  col-sm-6 ml-sm-auto text-center text-sm-right">
                    </div>
                </div>
            </footer>
            <!-- end footer -->
        </div>
        <!-- end app-wrap -->
    </div>
    <!-- end app -->
    <%- include('../include/footerscript'); -%>
    
</body>
<script>
    var urlParams = new URLSearchParams(window.location.search);
    if(urlParams.has('success') && urlParams.get('success')){

        swal({
            title: "Unable to Delete Batch!",
            text: "Please delete Comments Inside to Proceed",
            icon: "warning",
            button: "Error!",
            timer: 3000
        });
    }
          
    
</script>
</html>