<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../include/headscript'); -%>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body>
    <!-- begin app -->
    <div class="app">
        <!-- begin app-wrap -->
        <div class="app-wrap">
            <!-- begin pre-loader -->
            <div class="loader">
                <div class="h-100 d-flex justify-content-center">
                    <div class="align-self-center">
                        <img src="assets/img/loader/loader.svg" alt="loader">
                    </div>
                </div>
            </div>
            <!-- end pre-loader -->
            <%- include('../include/header'); -%>
            <!-- begin app-container -->
            <div class="app-container">
                <%- include('../include/aside'); -%>
                <!-- end app-navbar -->
                <!-- begin app-main -->
                <div class="app-main" id="main">
                    <!-- begin container-fluid -->
                    <div class="container-fluid">
                        <!-- begin row -->
                        <div class="row">
                            <div class="col-md-12 m-b-30">
                                <!-- begin page title -->
                                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                                    <div class="page-title mb-2 mb-sm-0">
                                        <h1><%=title %></h1>
                                    </div>
                                    
                                </div>
                                <!-- end page title -->
                            </div>
                        </div>
                        <!-- end row -->
                        <!-- begin row -->
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card card-statistics">
                                    <div class="card-body">
                                        <form  method="POST" enctype="multipart/form-data" id="signupForm1">
                                           
                                            <div class="form-group">
                                                <label class="control-label" for="current_password">Current Password</label>
                                                <div class="mb-2">
                                                    <input type="password" class="form-control" id="current_password" name="current_password" placeholder="Enter Current Password" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="password1">New Password</label>
                                                <div class="mb-2">
                                                    <input type="password" class="form-control" id="password1" name="password1" placeholder="New Password" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="confirm_password1">Confirm password</label>
                                                <div class="mb-2">
                                                    <input type="password" class="form-control" id="confirm_password1" name="confirm_password1" placeholder="Confirm password" />
                                                </div>
                                            </div>
                                            
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary">Sign
                                                    up</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <!-- end row -->
                       
                    </div>
                    <!-- end container-fluid -->
                </div>
                <!-- end app-main -->
            </div>
            <!-- end app-container -->
            <!-- begin footer -->
            <footer class="footer">
                <div class="row">
                    <div class="col-12 col-sm-6 text-center text-sm-left">
                        <p>&copy; Copyright 2019. All rights reserved.</p>
                    </div>
                    <div class="col  col-sm-6 ml-sm-auto text-center text-sm-right">
                    </div>
                </div>
            </footer>
            <!-- end footer -->
        </div>
        <!-- end app-wrap -->
    </div>
    <!-- end app -->
    <%- include('../include/footerscript'); -%>
    
</body>
<script>
    
    var urlParams = new URLSearchParams(window.location.search);
    if(urlParams.has('passwordnotmatch') && urlParams.get('passwordnotmatch')){

        swal({
            title: "Invalid Password Provided!",
            text: "Please provide correct Current Password!",
            icon: "warning",
            button: "Error!",
            timer: 3000
        });
    }

    if(urlParams.has('success') && urlParams.get('success')){

    swal({
        title: "Password Changed Successfully",
        text: "Your Password is Successfully Changed",
        icon: "success",
        button: "Success!",
        timer: 3000
    });
    }

    if(urlParams.has('failure') && urlParams.get('failure')){

        swal({
            title: "Error Occurred",
            text: "Please Try Again!",
            icon: "success",
            button: "Success!",
            timer: 3000
        });
    }
          
    
</script>
</html>